<form action="/manage/<%= guild.id %>/update-core" method="POST">
    <div class="plugin-card">
        <div class="plugin-card-header">
            <h4>Default Announcement Channel</h4>
        </div>
        <div class="plugin-card-body">
            <p class="text-muted">Select the default channel where all stream announcements will be sent.</p>
            <select class="form-select" id="default-channel" name="default_announcement_channel_id">
                <option value="">None (Disables default announcements)</option>
                <% channels.forEach(channel => { %>
                    <option value="<%= channel.id %>" <%= settings.default_announcement_channel_id === channel.id ? 'selected' : '' %> >#<%= channel.name %></option>
                <% }); %>
            </select>
        </div>
    </div>

    <div class="plugin-card">
        <div class="plugin-card-header">
            <h4>Live Role</h4>
        </div>
        <div class="plugin-card-body">
            <p class="text-muted">This role is given to Discord users linked to a streamer when they go live. Make sure the bot's role is higher than this role.</p>
            <select class="form-select" id="live-role" name="live_role_id">
                <option value="">None (Disables live role)</option>
                <% roles.forEach(role => { %>
                    <option value="<%= role.id %>" <%= settings.live_role_id === role.id ? 'selected' : '' %> >@<%= role.name %></option>
                <% }); %>
            </select>
        </div>
    </div>
    
    <div class="plugin-card">
        <div class="plugin-card-header">
            <h4>Ping Role</h4>
        </div>
        <div class="plugin-card-body">
            <p class="text-muted">This role will be mentioned in every announcement message.</p>
             <select class="form-select" id="ping-role" name="ping_role_id">
                <option value="">None (No @mention in announcements)</option>
                <option value="@everyone" <%= settings.ping_role_id === '@everyone' ? 'selected' : '' %>>@everyone</option>
                <% roles.forEach(role => { %>
                    <option value="<%= role.id %>" <%= settings.ping_role_id === role.id ? 'selected' : '' %> >@<%= role.name %></option>
                <% }); %>
            </select>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</form>
