<div class="content-card">
    <h2><i class="fas fa-cogs me-2"></i>Core Server Settings</h2>
    <p class="text-muted">Manage the default announcement channels and live role for your server. These settings can be overridden by more specific team, channel, or individual subscription settings.</p>
    <hr class="my-4">
    <form action="/manage/<%= guild.id %>/settings" method="POST">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Default Public Channel</label>
                <select name="publicChannelId" class="form-select">
                    <option value="">-- Select a Channel --</option>
                    <% channels.forEach(channel => { %>
                        <option value="<%= channel.id %>" <%= settings.announcement_channel_id == channel.id ? 'selected' : '' %> >#<%= channel.name %></option>
                    <% }) %>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Live Role</label>
                <select name="roleId" class="form-select">
                    <option value="">Disabled</option>
                    <% roles.forEach(role => { %>
                        <option value="<%= role.id %>" <%= settings.live_role_id == role.id ? 'selected' : '' %>>@<%= role.name %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Default Members-Only Channel</label>
                <select name="membersChannelId" class="form-select">
                    <option value="">-- Select a Channel --</option>
                    <% channels.forEach(channel => { %>
                        <option value="<%= channel.id %>" <%= settings.members_announcement_channel_id == channel.id ? 'selected' : '' %> >#<%= channel.name %></option>
                    <% }) %>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Default Subscribers-Only Channel</label>
                <select name="subscribersChannelId" class="form-select">
                    <option value="">-- Select a Channel --</option>
                    <% channels.forEach(channel => { %>
                        <option value="<%= channel.id %>" <%= settings.subscribers_announcement_channel_id == channel.id ? 'selected' : '' %> >#<%= channel.name %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-3"><i class="fas fa-save me-2"></i>Save Core Settings</button>
    </form>
</div>