<li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#stats-tab"><i class="fas fa-chart-bar fa-fw"></i> Server Stats</button></li>
<li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#tags-tab"><i class="fas fa-tags fa-fw"></i> Tags</button></li>
<li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#starboard-tab"><i class="fas fa-star fa-fw"></i> Starboard</button></li>
<li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#reaction-roles-tab"><i class="fas fa-hand-pointer fa-fw"></i> Reaction Roles</button></li>
<li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#action-log-tab"><i class="fas fa-history fa-fw"></i> Action Log</button></li>
<div class="tab-pane fade" id="stats-tab" role="tabpanel"><%- include('partials/manage/stats') %></div>
<div class="tab-pane fade" id="tags-tab" role="tabpanel"><%- include('partials/manage/tags') %></div>
<div class="tab-pane fade" id="starboard-tab" role="tabpanel"><%- include('partials/manage/starboard') %></div>
<div class="tab-pane fade" id="reaction-roles-tab" role="tabpanel"><%- include('partials/manage/reaction-roles') %></div>
<div class="tab-pane fade" id="action-log-tab" role="tabpanel"><%- include('partials/manage/action-log') %></div>